@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-container {
    @apply container px-3 mx-auto;
  }
}

@font-face {
  font-family: IranSans;
  src: url("../../public/Fonts/irsans.ttf");
}

.test {
  color: #ffbe0b;
  color: #fb5607;
  color: #ff006e;
  color: #8338ec;
  color: #3a86ff;
}

.linearbg {
  background-clip: text;
  -webkit-background-clip: text;
}
